<div class="container">
    <div class="row">
        <div class="col-md-2" *ngFor="let product of allProducts">
            <div class="product px-2 py-4 my-3 position-relative">
                <i (click)="removeItemWish(product.id)" class="fa-solid fa-heart-circle-xmark heart"></i>
                <a [routerLink]="['/productDetails',product.id]">
                    <img [src]="product.imageCover" class="w-100" alt="">
                    <p class="text-main">{{product.category.name}}</p>
                    <h2 class="h6">{{product.title | trim:2}}</h2>
                    <div class="d-flex justify-content-between">
                        <span>{{product.price}} EGP</span>
                        <div>
                            <i class="fa fa-star rating-color"></i>
                            {{product.ratingsAverage}}
                        </div>
                    </div>
                </a>
                <i class="btn bg-main w-100 text-white" (click)="addToCart(product.id)">Add</i>
            </div>
        </div>
    </div>
</div>