<div class="w-50 mx-auto p-4 bg-main-light shadow" *ngIf="step1">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <label for="email">Email</label>
        <input formControlName="email" type="email" class="form-control" name="email" id="email">
        <button class="btn btn-danger text-white w-100 mt-3">Forgot Password</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2">{{userMsg}}</p>
    </form>
</div>

<div class="w-50 mx-auto p-4 bg-main-light shadow" *ngIf="step2">
    <form [formGroup]="ResetCodeForm" (ngSubmit)="resetCode()">
        <label for="resetCode">Reset Code</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        <button class="btn btn-danger text-white w-100 mt-3">Reset Code</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2">{{userMsg}}</p>
    </form>
</div>

<div class="w-50 mx-auto p-4 bg-main-light shadow" *ngIf="step3">
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
        <label for="newPassword">Reset Password</label>
        <input formControlName="newPassword" type="text" class="form-control" id="newPassword">
        <button class="btn btn-danger text-white w-100 mt-3">Reset Password</button>
    </form>
</div>